[Desktop Entry]
Name=TOra
Name[pl]=TOra
Comment=Toolkit For Oracle and other databases
Comment[pl]=Zestaw narzędzi dla Oracle i innych baz danych
Icon=tora
Exec=tora
Terminal=false
Type=Application
Categories=Qt;KDE;Development;
# vi: encoding=utf-8
